# Robot Framework output files
output.xml
log.html
report.html

# Results e browser
results/
browser/

# Downloads e file temporanei
resources/downloads/
resources/testfile.txt

# Virtualenv
.venv/

# Python
__pycache__/
*.py[cod]

# Pipenv
Pipfile.lock

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini
